*{
margin: 0px 0px 2px 0px;
border:0;
padding: 0;
}

body {
    background-color: #2e2e2e;
}

.wrapper {
    background-color: #b1b376;
    height: 500px;

}


nav {
    position: fixed;
    height: 10px;
    background-color: #2e2e2e;
    width: 100%;
    text-align: center;
    word-spacing: 80px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color:white;
}


nav a:hover {
    color: yellow;
}

nav a:visited {
    font: white;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline;
}

header {
    text-align:center;
    background-color: #ebc388;
    padding-top: 30%;
    height: 550px;

}

#color {
    color: white;
}



#about {
    background-color: #ebc388;
    padding: 20px;
    padding-top: 30px;
    height: auto;
  

}

#about a {
    text-decoration: none;
    color: white;
}
#about a:hover {
    color:blue;

}
#picture {
    width: 15%;
    height: 15%;
    margin-left: 42.5%;
    border-radius: 100%;
}

.column {
    width: 300px;
    height: 400px;
    background-color: white;
    padding: 30px;
    font-size: 16px;
    line-height: 1.5em;
    margin:10px;
    
}

#first {
    display: inline-block;
    margin-left: 50px;
    
}
#second {
    display: inline-block;

    
   
  
}
#third {
    display: inline-block;
 

}



h2 {
    text-align:center;
    padding-bottom:30px;
  
}
h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 40px;
}

#center {
    text-align:center;
}


#portfolio {
    background-color:  #ebc388;
    padding: 20px;
    text-align:center;
    padding: 20px;
    padding-top: 30px;
}

#portfolio ul {
    line-height: 2em;
    font-size: 24px;
    list-style-type: none;
}
#portfolio ul a {
    text-decoration: none;
    color: white;
}

#portfolio ul a:hover {
    color: blue;
}


#contact {
    padding-top: 30px;
    text-align:center;
    background-color: #ebc388;
    height: 700px;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    color: blue;
}

#thing::before {
    content: "Software Developer";
    animation: text infinite 8s;
    animation-timing-function: linear;
  
  }
  @keyframes text {
    0% {
      content: "Software Developer";
    }
    20% {
      content: "Graphic Designer";
    }
    40% {
      content: "Web Designer";
    }
    60% {
      content: "Musician";
    }
    80% {
      content: "Producer/Composer";
    }
    100% {
      content: "Software Developer"
    }
  }




.contactinfo {
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
    margin-left: 30%;
    border-bottom: 2px solid #2e2e2e;
    width: 40%;
}
.contactinfo ul {
    list-style: none;
    word-spacing: 50px;
    
}
.contactinfo ul li {
    display: inline;
}


footer {
    padding-top: 20px;
    background-color: #2e2e2e;
    text-align: center;
    padding-bottom: 0px;
 
}

footer a{    
    color:white;
    text-decoration: none;
}

footer a:hover {
    font: yellow;
}

footer>ul {
    word-spacing: 60px;

}

footer>ul>li {
    display: inline;
}

a:hover {
    color:yellow;
}